/* Root variables */
:root {
	/* Colors */
	--clr-default-bg: #ffd3ba;
	--clr-default-text: black;
	--clr-bg-accent: #ffbe99;
	--clr-text-accent: #6a2532;
	--clr-bg-button: #ffb185;
	--clr-border-button: #ff7e33;
	--clr-text-button: #3d1600;
	--clr-bg-start: #ffa630;
	--clr-text-start: white;

	--clr-bg-selected: brown;
	--clr-text-selected: darkgray;

	--clr-text-health: #386641;
	--clr-bg-health: #6d9b56;

	--clr-text-enemy: #6a2532;
	--clr-bg-enemy: #cb6792;

	--clr-bg-goal: #ffa630;
	--clr-text-goal: white;

	--clr-text-knight: #386641;

	/* Font Family */
	--ff-accent-1: "Henny Penny", cursive;
	--ff-accent-2: sans-serif;
	--ff-body: "Coda", sans-serif;
	--ff-number: "Passion One", cursive;
	--ff-button: "Coda", sans-serif;

	/* Font Size */
	--fs-large: clamp(2.25rem, 10vw, 4rem);
	--fs-grid: clamp(1rem, 5vw, 2.25rem);
	--fs-text: clamp(1.15rem, 4vw, 1.75rem);
	--fs-small: clamp(1rem, 3.5vw, 1.75rem);

	/* Font Weight */
	--fw-number: 400;
	--fw-800: 800;

	/* Margin and Padding */
	--flexr-gap: 1rem;
	--flexc-gap: 1rem;

	--margin-small: 0.75rem;
	--margin-medium: 1.5rem;

	--padding-small: 0.7rem;
	--padding-medium: 1.5rem;
	--padding-large: 3rem;
}

/* General formatting */
body {
	background-color: var(--clr-default-bg);
	color: var(--clr-default-text);
	max-width: 55rem;
	margin-inline: auto;
	font-family: var(--ff-body);
}

.status,
h2,
p:not(.text-value-knight, .text-value-start, .text-value-health, .text-value-enemy, .text-value-goal) {
	font-size: var(--fs-text);
}

main {
	position: relative;
}

button {
	display: block;
	cursor: pointer;
	width: clamp(8rem, 30vw, 16rem);
	font-size: var(--fs-text);
	background-color: var(--clr-bg-button);
	color: var(--clr-text-button);
	border: 0px solid var(--clr-border-button);
	transition: all 250ms;
}

button:hover {
	background-color: var(--clr-border-button);
}

/* Utility classes */

.flex-even-col {
	display: flex;
	flex-direction: row;
	gap: var(--flexr-gap);
}

.flex-even-col > * {
	flex: 1 1 100%;
}

.flex-row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	gap: var(--flexr-gap);
}

.flex-col {
	display: flex;
	flex-direction: column;
	gap: var(--flexc-gap);
}

.flex-row > *,
.flex-col > * {
	flex-grow: 1;
}

.grid {
	display: grid;
}

.margin-top {
	margin-top: var(--margin-medium);
}

.margin-inline-auto {
	margin-inline: auto;
}

.padding-inline {
	padding-inline: var(--padding-medium);
}

.padding-top-small {
	padding-top: var(--padding-small);
}

.padding-top-medium {
	padding-top: var(--padding-medium);
}

.padding-bottom {
	padding-bottom: var(--padding-medium);
}

.font-accent-one {
	font-family: var(--ff-accent-1);
	color: var(--clr-text-accent);
	font-size: 2rem;
}

.js-off {
	display: none;
}

.knight-right {
	transform: translate(100%, 0%);
}

.knight-down {
	transform: translate(0%, 100%);
}

/* Specific classes */
.title {
	font-size: var(--fs-large);
	text-align: center;
}

.tutorial {
	font-family: var(--ff-button);
	font-weight: var(--fs-text);
	font-size: var(--fs-text);
	line-height: 1.25;
	color: var(--clr-text-accent);
}

.round-buttons,
.mode-buttons {
	align-items: center;
}

/* Main game grid */
.game-grid {
	/* grid-template-columns: repeat(4, 1fr); */
	/* grid-template-rows: repeat(4, 1fr); */
	background-color: azure;
	aspect-ratio: 1;
	max-width: 52rem;
	/* padding: var(--margin-medium); */
}

div[class^="tile"] {
	text-align: center;
	position: relative;
	font-family: var(--ff-number);
	font-weight: var(--fw-number);
	font-size: var(--fs-grid);
}

.tile-health {
	background-color: var(--clr-bg-health);
	color: var(--clr-text-health);
}

.tile-enemy {
	background-color: var(--clr-bg-enemy);
	color: var(--clr-text-enemy);
}

.tile-start {
	background-color: var(--clr-bg-start);
	color: var(--clr-text-start);
}

.tile-finish {
	background-color: var(--clr-bg-goal);
	color: var(--clr-text-goal);
}

.tile-selected img[class^="svg"]:not(.svg-knight),
.tile-selected p[class^="text-value"]:not(.text-value-knight, .text-value-start) {
	opacity: 20%;
	color: var(--clr-text-selected);
}

/* Enemy and Health Values Numbers */
p[class^="text-value"] {
	position: absolute;
	z-index: 1;
	line-height: 1;
	background-color: transparent;
	color: inherit;
	font-size: inherit;
	pointer-events: none;
}

p:is(.text-value-enemy, .text-value-health) {
	top: 0%;
	right: 0%;
	transform-origin: top right;
	transform: translate(-20%, 20%);
}

p.text-value-start,
p.text-value-goal {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: var(--clr-text-start);
}

p.text-value-knight {
	bottom: 0%;
	right: 0%;
	transform: translate(-22.5%, -5%);
	transform-origin: bottom right;
	color: var(--clr-text-knight);
}

/* SVG Sprites */
img[class^="svg"] {
	transform: scale(0.6, 0.6);
	transition: transform 250ms;
	background-color: transparent;
}

.tile-next img[class^="svg"]:not(.svg-knight) {
	animation: float 3s ease-in-out infinite;
}

.tile-next img[class^="svg"]:not(.svg-knight):hover {
	animation: none;
	transform: scale(0.8, 0.8);
}

.container-knight.js-shake .svg-knight {
	animation: shake 0.65s;
}

.container-knight.js-shake::after {
	content: "Nope!";
	font-size: var(--fs-small);
	color: white;
	position: absolute;
	top: -8%;
	left: 7%;
	line-height: 1;
}

.container-knight {
	position: absolute;
	top: 0%;
	z-index: 5;
	background-color: transparent;
	transition: transform 500ms;
}

/* End Game Screen */
.modal-screen {
	position: fixed;
	z-index: 10;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: clamp(1.5rem, 75vw, 32rem);
	background-color: var(--clr-bg-accent);
	border: 5px solid var(--clr-border-button);
	text-align: center;
}

.modal-button {
	max-width: 12rem;
}

/* Media queries */
@media (min-width: 34em) {
	:root {
		--fw-number: 700;
	}
}

@keyframes shake {
	0%,
	100% {
		transform: translateX(0) scale(0.8, 0.8);
	}
	20%,
	40%,
	60%,
	80% {
		transform: translateX(-4%) scale(0.8, 0.8);
	}
	10%,
	30%,
	50%,
	70%,
	90% {
		transform: translateX(4%) scale(0.8, 0.8);
	}
}

@keyframes float {
	0% {
		transform: translatey(0px) scale(0.6, 0.6);
	}
	50% {
		transform: translatey(-6%) scale(0.65, 0.65);
	}
	100% {
		transform: translatey(0px) scale(0.6, 0.6);
	}
}
