/* Root variables */
:root {
	/* Colors */
	--clr-default-bg: #ffd3ba;
	--clr-default-text: black;
	--clr-bg-accent: #ffbe99;
	--clr-text-accent: #6a2532;
	--clr-bg-button: #ffb185;
	--clr-border-button: #ff7e33;
	--clr-text-button: #3d1600;
	--clr-bg-start: #ffa630;
	--clr-text-start: lightgray;

	--clr-bg-selected: brown;
	--clr-text-selected: darkgray;

	--clr-text-health: #386641;
	--clr-bg-health: #6d9b56;

	--clr-text-enemy: #6a2532;
	--clr-bg-enemy: #cb6792;

	--clr-bg-goal: #ffa630;
	--clr-text-goal: white;

	--clr-text-knight: green;

	/* Font Family */
	--ff-accent-1: "a Ampun Bang", sans-serif;
	--ff-accent-2: sans-serif;
	--ff-body: "Coda", sans-serif;
	--ff-number: "Passion One", cursive;
	--ff-button: "Coda", sans-serif;

	/* Font Size */
	--fs-large: 2.5em;
	--fs-grid: 1.5em;
	--fs-text: 1.25em;
	--fs-small: 1em;

	/* Font Weight */
	--fw-number: 400;

	/* Margin and Padding */
	--flexr-gap: 1em;
	--flexc-gap: 1em;

	--margin-small: 0.75em;
	--margin-medium: 1.5em;

	--padding-small: 1em;
	--padding-medium: 1.5em;
	--padding-large: 3em;

	/* Content dimensions */
	--dim-grid: 80vmin;
}

/* General formatting */
body {
	background-color: var(--clr-default-bg);
	color: var(--clr-default-text);
	max-width: 60em;
	margin-inline: auto;
	font-family: var(--ff-body);
	/* border: 1px solid red; */
}

.status {
	font-size: var(--fs-text);
}

main {
	position: relative;
}

button {
	display: block;
	width: clamp(8em, 25vw, 10em);
	font-size: var(--fs-text);
	background-color: var(--clr-bg-button);
	color: var(--clr-text-button);
	border: 5px solid var(--clr-border-button);
}

/* Utility classes */

.flex {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	gap: var(--flexr-gap);
}

.flex-col {
	display: flex;
	flex-direction: column;
	gap: var(--flexc-gap);
}

.flex > *,
.flex-col > * {
	flex-grow: 1;
}

.grid {
	display: grid;
}

.margin-top {
	margin-top: var(--margin-small);
}

.padding-inline {
	padding-inline: var(--padding-medium);
}

.padding-top {
	padding-top: var(--padding-medium);
}

.padding-bottom {
	padding-bottom: var(--padding-medium);
}

.font-accent-one {
	font-family: var(--ff-accent-1);
	color: var(--clr-text-accent);
	font-size: 2em;
}

/* Specific classes */
.title {
	font-size: var(--fs-large);
	text-align: center;
}

.round-buttons,
.mode-buttons {
	align-items: center;
}

.game-grid {
	/* grid-template-columns: repeat(4, 1fr); */
	/* grid-template-rows: repeat(4, 1fr); */
	background-color: azure;
	aspect-ratio: 1;
	max-width: 30em;
	/* padding: var(--margin-medium); */
}

div[class^="tile"] {
	text-align: center;
	position: relative;
	font-family: var(--ff-number);
	font-weight: var(--fw-number);
	font-size: var(--fs-grid);
}

.tile-health {
	background-color: var(--clr-bg-health);
	color: var(--clr-text-health);
}

.tile-enemy {
	background-color: var(--clr-bg-enemy);
	color: var(--clr-text-enemy);
}

.tile-start {
	background-color: var(--clr-bg-start);
	color: var(--clr-text-start);
}

.tile-finish {
	background-color: var(--clr-bg-goal);
	color: var(--clr-text-goal);
}

.tile-selected img[class^="svg"]:not(.svg-knight),
.tile-selected p[class^="text-value"]:not(.text-value-knight, .text-value-start) {
	opacity: 20%;
	color: var(--clr-text-selected);
}

p[class^="text-value"]:not(p.text-value-start, p.text-value-knight) {
	/* float: right; */
	position: absolute;
	top: 5%;
	right: 7%;
	z-index: 1;
	background-color: transparent;
	font-size: inherit;
	color: inherit;
}

p.text-value-start {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	background-color: transparent;
	color: var(--clr-text-start);
}

p.text-value-knight {
	position: absolute;
	bottom: 5%;
	right: 5%;
	background-color: transparent;
	color: var(--clr-text-knight);
}

img[class^="svg"] {
	transform: scale(0.6, 0.6);
	background-color: transparent;
	/* margin: auto auto; */
}

.container-knight {
	position: absolute;
	top: 0%;
	z-index: 5;
	background-color: transparent;
	transition: transform 500ms;
}

.knight-right {
	transform: translate(100%, 0%);
}

.knight-down {
	transform: translate(0%, 100%);
}

.victory-screen {
	position: absolute;
	z-index: 10;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: clamp(1.5em, 75vw, 28em);
	background-color: var(--clr-bg-accent);
	border: 5px solid var(--clr-border-button);
	text-align: center;
}

.victory-button {
	max-width: 10em;
	/* flex-grow: 1; */
}

.js-off {
	display: none;
}

@media (min-width: 500px) {
	:root {
		--fw-number: 700;
		--fs-large: 3em;
		--fs-grid: 2em;
		--fs-text: 1.5em;
	}
}

@media (min-width: 700px) {
	:root {
		--fs-large: 4em;
		--fs-grid: 2em;
		--fs-text: 2em;
	}
}
